.section-blog {
    background: #F5F8FF;
    padding: 100px 0;
   
   
        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
}
