.section-time {
    display: flex;
    @media(max-width: 768px) {
        flex-direction: column-reverse;
         align-items: center;
     }
    .col-left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        width: 50%;
        background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
        color: #fff;
    }
    .col-right  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        width: 50%;
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
        color: #5E80FF;
    }
    p {
        font-size: 18px;
    }
    .score {
        font-size: 48px;
    }
    .icon-Time-img,
    .icon-users {
        font-size: 70px;
    }
    .col-left,
    .col-right {
        padding: 60px;
        @media(max-width: 768px) {
           align-items: center;
            width: 100%;
            padding: 50px 15px;
            p {
                margin: 10px 0;
            }
         }
    }
}